<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for furn in furniture %}
        <div>
        <h2>{{ furn.furniture_name }}</h2>
        <p>{{ furn.furniture_price }}
            <span>{{ furn.purchased_date |date:"d-m-Y" }}</span>

        </div>
    {% endfor %}
</body>
</html>